

.header-name {
	position: absolute;
	font-size: 5.25rem;
	margin-top: -160px;
	margin-left: 27px;
	font-family: 'Rock Salt', cursive;
	color: #FF704D
}

.header-sub {
	position: absolute;
	margin-top: -75px;
	margin-left: 92px;
	font-family: 'Rock Salt', cursive;
	color: #FF704D
}


.profile_image {
	max-width: 960px
}

h5 {
	text-align: center;
	background-color: #F0F0F0;
	font-family:'Poiret One', bold;
	margin-bottom: 0px
}

.menu {
	background-color: #F0F0F0;
	padding: 20px
}

.fa.fa-angle-double-down.fa-5x {
	position: fixed;
	color: #FF704D;
	margin-left: 37%;
	margin-right: auto;
	margin-bottom: 4%;
	-webkit-animation:bounce 1.5s infinite;


}

@-webkit-keyframes bounce {
  0%       { bottom:5px; }
  50%      { bottom:30px; }
  100%     {bottom:0;}
}

.arrowdown {
	margin-top: 10px;
	background-color: #E0FFF0;
	height: 193px;
	border-top: 10px solid #FF704D
}
