

.header-name {
	position: absolute;
	font-size: 5.25rem;
	margin-top: -160px;
	margin-left: 27px;
	font-family: 'Rock Salt', cursive;
	color: #FF704D
}

.header-sub {
	position: absolute;
	margin-top: -75px;
	margin-left: 92px;
	font-family: 'Rock Salt', cursive;
	color: #FF704D
}


.profile_image {
	max-width: 960px
}

h5 {
	text-align: center;
	background-color: #F0F0F0;
	font-family:'Poiret One', bold;
	margin-bottom: 0px
}

.menu {
	background-color: #F0F0F0
}