doctype html
html(lang='en-US')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title hey, i'm tyler...
    link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Poiret+One|Rock+Salt')
    link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Raleway:400,300,500,600')
    link(rel='stylesheet', href='assets/fa/css/font-awesome.min.css')
    link(rel='stylesheet', href='../vendor/skeleton/css/skeleton.css')
    link(rel='stylesheet', href='../vendor/skeleton/css/normalize.css')
    link(rel='stylesheet', href='css/main.css')
  body
      <!--[if lt IE 9]><script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
    .container
      .row
        .u-full-width.header
          img.profile_image(src="assets/headerbackground.jpg")
          h1.header-name Tyler Black
          h6.header-sub developer/designer/creative
      .row.menu
        .three.columns
          h5 About me
        .three.columns
          h5 Portfolio
        .three.columns
          h5 Resume
        .three.columns
          h5 Other fun things
      .row.arrowdown
        .five.columns.toparrowheader
        .two.columns
          .fa.fa-angle-double-down.fa-5x
        .five.columns.toparrowheader
      .row.aboutme
        .four.columns
          img.tylerhead(src="assets/tylerhead.jpg")
        .eight.columns.aboutmeheader
          p Hey! My name's Tyler Black. It's great to meet you. How are you? I hope well.
          p I moved to Nashville eight years ago, and graduated from Belmont University in 2012 with a degree in music business. I also worked in Business and Consumer sales at Apple for 3 years, and that was a blast. As of late, nearly 6 months to be exact, I have been a software apprentice at the Nashville Software School. Since then, my love for technology and the way it impacts our lives has only grown. I love what I am learning, and am excited to make an impact. I also love creating music, and my dog Biddy. You may or may not find links to both of things somewhere around here :).
      .row.dividerone
        .u-full-width
          .fa.fa-cog.fa-spin.fa-3x
      .row.portfolioheader
        .u-full-width
          h3 Here are some things I have worked on ...
      .row.portfoliosubheader
        .u-full-width
          h4 Bacon Beach
      .row.portfoliobody1
        .four.columns
          img.baconbeach(src="http://cdn.makeagif.com/media/5-28-2015/OmdKQE.gif")
        .eight.columns
          p Bacon Beach is representative of the things that people love most in life: bacon and beaches. I wanted to make a fun game that could be adapted for mobile relatively easily. This game was made using Phaser, a JavaScript library used to develop 2D games, and was my front end capstone at Nashville Software School. The goal of the game is to collect as much bacon, flying pigs, and hearts as possible and avoid broccoli. The game gets progressively harder, as broccoli will start falling at a faster pace. Yes, that's right, broccoli kills you.
          p This was my first project in Phaser, and I loved everything about it. Learning the library was very rewarding, and designing, creating, and editing the artwork for the game was incredibly fun.
      .row.portfoliosubheader
        .u-full-width
          h4 Space Race
      .row.portfoliobody2
        .eight.columns
           p Space Race is all about winning the intergalactic race. It is a four player game, so you will need friends to play, but that's what makes it fun! In Space Race, the player is 1 of 4 characters: A USA astronaut, a USA engineer, a USSR astronaut, or a USSR engineer. The players have to work together to travel through space, and the first one to fall off of the map loses. It is an engineers job to place platforms, and an astronauts job to land on said platforms to continue the space race. Every platform the engineer can place is different. Some are sticky, some hurt you, and some can even give you warp speed! So, strategy is definitely involved.
           p This was my second Phaser project. I worked on it over one weekend at Hack Tennessee 7 with a group of five other amazing people. My primary responsibilities for Space Race were character design, platform design, and phaser sprite implementations.
        .four.columns
          img.spacerace(src="http://cdn.makeagif.com/media/5-28-2015/tvP3ah.gif")
      .row.technologies
        .two.columns
          img.html5logo(src="assets/html5logo.png")
        .two.columns
          img.css3logo(src="assets/css3logo.png")
        .two.columns
          img.javascriptlogo(src="assets/javascriptlogo.png")
        .two.columns
          img.jquerylogo(src="assets/jquerylogo.gif")
        .two.columns
          img.angularlogo(src="assets/angularlogo.png")
        .two.columns
          img.gitlogo(src="assets/gitlogo.png")


